<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/stylesheet.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Backend Mini Project 1</title>
</head>


<body class="bg-slate-200 mx-auto">
  <div class="w-full container mx-auto m-1 p-1"></div>

  <!-- Bredcumber Section -->
  <div class="tasks bg-white my-3 py-2 px-4 shadow-lg max-w-5xl grid grid-cols-5 gap-3 mx-auto mt-4 flex">
    <a href="/viewuser" class="text-blue-600 font-semibold">
      See Users -></a>
  </div>

  <!-- Form Input section -->
  <div class="my-1 max-w-5xl mx-auto py-3 px-4 bg-white">
    <div class="py-1 px-1">
      <!-- Form Input section -->
      <form action="/update" method="post" class="my-1 max-w-3xl mx-auto py-3 px-8 shadow-lg bg-gray-100">
        <div class="flex justify-center items-center p-1.5">
          <img src="<%= user.imgurl%>" alt="" class="h-48 rounded-full p-1">
        </div>
        <div class="mb-5">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Name</label>
          <input value="<%= user.name %>" type="text" name="name" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ex: John Doe" required />
        </div>
        <div class="mb-5">
          <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New User Name</label>
          <input value="<%= user.username %>" type="text" name="username" placeholder="john17@doe" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
        </div>
        <input value="<%= user._id %>" type="text" name="id" class="hidden bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@flowbite.com" required />
        <div class="mb-5">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Email</label>
          <input value="<%= user.email %>" type="email" name="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@flowbite.com" required />
        </div>
        <div class="mb-5">
          <label for="url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Profile Image URL</label>
          <input value="<%= user.imgurl %>" type="url" name="url" placeholder="https://john@doe.com" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
        </div>

        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
      </form>
      <!-- Form Input section End -->

      <script src="/javascripts/script.js"></script>

</body>

</html>